@import "tailwindcss";

@theme {
  --color-text: var(--t);
  --color-background: var(--bg);
  --color-primary: var(--p);
  --color-secondary: var(--s);
  --color-accent: var(--a);
}

:root {
  --t: #050a09;
  --bg: #f9fbfb;
  --p: #61ae98;
  --s: #a7bdd2;
  --a: #8995c2;
}

[data-theme="dark"] {
  --t: #f5faf9;
  --bg: #040606;
  --p: #519e88;
  --s: #2d4358;
  --a: #3d4976;
}

* {
  font-family: "Inter", sans-serif;
}